# Idea Files

.idea

# MacOS Files
.DS_Store

# Node Files

node_modules

# Environment File

.env

# For debugging
logs

# Output Files

build
coverage
dist
dist-electron
lib
out

# Server Files

dependency-reduced-pom.xml
target
