# Idea Files

.idea

# MacOS Files
.DS_Store

# Node Files

node_modules

# Tim's files

/venv
/env
__pycache__

# Output Files

build
coverage
dist
lib
out

# Server Files

dependency-reduced-pom.xml
target
